<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://chargebackfunctionapp-kpy4cbvz7xhus.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c6a4ffe5-6f74-4846-b4e1-57386c4b7935/resourceGroups/pturg3009/providers/Microsoft.Web/sites/chargebackfunctionapp-kpy4cbvz7xhus</ResourceId>
    <UserName>$chargebackfunctionapp-kpy4cbvz7xhus</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://chargebackfunctionapp-kpy4cbvz7xhus.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>